@media (max-width: 833px) {
  .center {
    padding-left: calc(50% - 171.5px);
    padding-right: calc(50% - 171.5px);
  }

  .top {
    padding-top: 32px;

    &__text {
      font-size: 16px;
      line-height: 32px;
      text-align: center;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__link {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .header {
    border: none;
    height: 57px;

    &__input {
      display: none;
    }
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;

    &__link_img-search {
      width: 17px;
      height: 16px;
    }

    &__link_img-catalog {
      width: 20px;
      height: 21px;
    }

    &__link_img-cart {
      width: 25px;
      height: 25px;
    }

    &__link_img {
      fill: #fff;
      stroke: #fff;
      transition: $transit;

      &:hover {
        fill: #000000;
        stroke: #000000;
        transform: scale(1.2);
      }

      &:hover rect {
        fill: #000000;
      }
    }
  }

  .logo {
    width: 99px;
  }

  .hellocat:hover {
    &:after {
      transform: translate(0);
      -moz-transform: translate(0); /* Для Firefox */
      -ms-transform: translate(0); /* Для IE */
      -webkit-transform: translate(0); /* Для Safari, Chrome, iOS */
      -o-transform: translate(0);
    }
  }

  .arrow-down {
    display: none;
  }

  .title {
    font-size: 48px;
    line-height: 59px;
    max-width: 343px;
    word-break: break-word;
    margin-top: 29px;
    text-align: center;
  }

  .for {
    padding-top: 32px;

    &__item {
      font-size: 28px;
      line-height: 34px;
      height: 375px;

      &_big {
        grid-column: span 4;
        height: 244px;
      }
    }

    &__content {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }
  }

  .heading {
    font-size: 24px;
    line-height: 29px;
  }

  .product-box {
    padding-top: 32px;
  }

  .product-content {
    row-gap: 34px;
  }

  .product {
    img {
      width: 343px;
    }

    &__heading {
      font-size: 18px;
      line-height: 22px;
      margin-top: 9px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
    }

    &__price {
      font-size: 18px;
      line-height: 22px;
    }

    &_catalog {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
    }
  }

  .link-box {
    height: 92px;
    padding-top: 36px;
  }

  .footer {
    &__info {
      gap: 100px;
    }

    &__content {
      gap: 34px;
      justify-content: center;
    }

    &__form {
      align-items: center;
      width: 100%;
    }
  }

  //   Каталог
  .top_catalog,
  .top_cart {
    padding-top: 36px;
  }

  .title_catalog,
  .title_cart {
    font-size: 48px;
    line-height: 59px;
    margin-top: 78px;
    text-align: center;
  }

  .link-select-box {
    font-size: 14px;
    line-height: 32px;
    padding-top: 32px;
    gap: 16px;
    height: 154px;
  }

  .link-catalog {
    font-size: 14px;
    line-height: 32px;
  }

  .sort,
  .select {
    font-size: 14px;
    line-height: 17px;
  }

  // Корзина
  .cart {
    margin-top: 92px;
    row-gap: 50px;

    &__head {
      display: none;
    }

    &__buttons {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__button-small {
      width: 170px;
      font-size: 12px;
      line-height: 15px;
    }

    &__form {
      height: 100%;
      min-height: 556px;
      min-width: 200px;
      max-width: 343px;
      border-radius: 20px;
      padding-top: 42px;
      padding-left: 28px;
      padding-right: 28px;
    }
  }

  .cart-item {
    padding-top: 18px;
    padding-bottom: 32px;

    &__img {
      display: none;
    }

    &__heading {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 8px;
    }

    &__price {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .product-box_cart {
    padding-top: 48px;
  }
}

@media (max-width: 342px) {
  .hellocat:hover {
    &:after {
      transform: translate(0);
      -moz-transform: translate(0); /* Для Firefox */
      -ms-transform: translate(0); /* Для IE */
      -webkit-transform: translate(0); /* Для Safari, Chrome, iOS */
      -o-transform: translate(0);
    }
  }

  .product {
    img {
      width: 100%;
    }
  }

  .cart__button {
    width: 100%;
  }

  .cart-item {
    &__info {
      width: 100%;
      margin-right: 10px;
    }
  }
}
